.toolbar-container{
    .mat-toolbar{
        padding-right: 150px;
        padding-left: 150px;
        background-color: #A03037;
        height: 64px;
        h3{
            color: rgb(250, 250, 250);
        }
        .toolbar-left-part{
           mat-form-field{
               width: 60% !important;
               padding-top: 20px;
               padding-left: 50px;
               font-size: x-small;
               display: block !important;
           } 
        }
    }
    .profile-pic{
        img{
            width: 40px;
            height: 40px;
        }
    }
    .cart-icon{
        color: white;
        line-height: 15px !important;
    }
}

::ng-deep .mat-badge-content {
    background: #A03037;
}

@media (max-width: 600px) {
    .toolbar-container{
        .mat-toolbar{
            padding-right: 0;
            padding-left: 0;
            background-color: #A03037;
            height: 64px;
            h3{
                color: rgb(250, 250, 250);
            }
            .toolbar-left-part{
               mat-form-field{
                   display: none !important;
               } 
            }
        }
        .profile-pic{
            img{
                width: 40px;
                height: 40px;
            }
        }
        .cart-icon{
            color: white;
            line-height: 15px !important;
        }
    }
}