.login-form{
    padding-left: 10%;
    padding-right: 10%;
    .login-input{
        ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
        ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
    }
    .google-button{
        width: 45% !important;
    }
    .facebook-button{
        width: 45% !important;
    }
    button{
        background-color: rgb(141, 5, 5) !important;
    }
}
